// Akrobat
@font-face {
    font-family: Akrobat;
    src: url('../fonts/Akrobat/WEB/Akrobat-Regular.woff2');
}

@font-face {
    font-family: AkrobatLight;
    src: url('../fonts/Akrobat/WEB/Akrobat-Light.woff2');
}

@font-face {
    font-family: AkrobatThin;
    src: url('../fonts/Akrobat/WEB/Akrobat-Thin.woff2');
}

@font-face {
    font-family: AkrobatBold;
    src: url('../fonts/Akrobat/WEB/Akrobat-Bold.woff2');
}

@font-face {
    font-family: AkrobatSemiBold;
    src: url('../fonts/Akrobat/WEB/Akrobat-SemiBold.woff2');
}

// Baron
@font-face {
    font-family: Baron;
    src: url('../fonts/Baron/BaronNeue-Regular.otf');
}

// Bebas
@font-face {
    font-family: Bebas;
    src: url('../fonts/BebasNeue/BebasNeue-Regular.otf');
}

@font-face {
    font-family: BebasBold;
    src: url('../fonts/BebasNeue/BebasNeue-Bold.otf');
}

// Colus
@font-face {
    font-family: Colus;
    src: url('../fonts/Colus/Colus-Regular.woff2');
}

// Mont
@font-face {
    font-family: Mont;
    src: url('../fonts/Mont/MontDemo-Heavy.otf');
}

@font-face {
    font-family: MontLight;
    src: url('../fonts/Mont/MontDemo-ExtraLight.otf');
}

// Noah
@font-face {
    font-family: Noah;
    src: url('../fonts/Noah/Noah/Noah-Regular.woff2');
}

@font-face {
    font-family: NoahBold;
    src: url('../fonts/Noah/Noah/Noah-Bold.woff2');
}

@font-face {
    font-family: NoahBoldItalic;
    src: url('../fonts/Noah/Noah/Noah-BoldItalic.woff2');
}

// Panton
@font-face {
    font-family: PantonBlack;
    src: url('../fonts/Panton/PantonDemo-Black.otf');
}

@font-face {
    font-family: PantonLight;
    src: url('../fonts/Panton/PantonDemo-Light.otf');
}

@font-face {
    font-family: PantonNarrowBlack;
    src: url('../fonts/Panton/PantonNarrowDemo-Black.otf');
}

@font-face {
    font-family: PantonNarrowLight;
    src: url('../fonts/Panton/PantonNarrowDemo-Light.otf');
}

// Singel
@font-face {
    font-family: SingelSemiBold;
    src: url('../fonts/Singel/SingelDemo-SemiBold.otf');
}

// UniNeue
@font-face {
    font-family: UniNeueLight;
    src: url('../fonts/UniNeue/UniNeue-Light.ttf');
}

@font-face {
    font-family: UniNeueHeavyItalic;
    src: url('../fonts/UniNeue/UniNeue-HeavyItalic.ttf');
}

// Lora
@font-face {
    font-family: Lora;
    src: url('../fonts/Lora/Lora-Regular.ttf');
}

@font-face {
    font-family: LoraBold;
    src: url('../fonts/Lora/Lora-Bold.ttf');
}

@font-face {
    font-family: LoraItalic;
    src: url('../fonts/Lora/Lora-Italic.ttf');
}

@font-face {
    font-family: LoraBoldItalic;
    src: url('../fonts/Lora/Lora-BoldItalic.ttf');
}

// Montserrat
@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat/Montserrat-Regular.otf');
}

@font-face {
    font-family: MontserratMedium;
    src: url('../fonts/Montserrat/Montserrat-Medium.otf');
}

@font-face {
    font-family: MontserratBlack;
    src: url('../fonts/Montserrat/Montserrat-Black.otf');
}

@font-face {
    font-family: MontserratLight;
    src: url('../fonts/Montserrat/Montserrat-Light.otf');
}

@font-face {
    font-family: MontserratLightItalic;
    src: url('../fonts/Montserrat/Montserrat-LightItalic.otf');
}

@font-face {
    font-family: MontserratAlt;
    src: url('../fonts/Montserrat/MontserratAlternates-Regular.otf');
}

@font-face {
    font-family: MontserratAltBlack;
    src: url('../fonts/Montserrat/MontserratAlternates-Black.otf');
}

@font-face {
    font-family: MontserratAltMedium;
    src: url('../fonts/Montserrat/MontserratAlternates-Medium.otf');
}

@font-face {
    font-family: MontserratAltLight;
    src: url('../fonts/Montserrat/MontserratAlternates-Light.otf');
}

@font-face {
    font-family: MontserratAltLightItalic;
    src: url('../fonts/Montserrat/MontserratAlternates-LightItalic.otf');
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: RobotoLight;
    src: url('../fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: RobotoBlack;
    src: url('../fonts/Roboto/Roboto-Black.ttf');
}

@font-face {
    font-family: RobotoMedium;
    src: url('../fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: RobotoThin;
    src: url('../fonts/Roboto/Roboto-Thin.ttf');
}

@font-face {
    font-family: RobotoSlab;
    src: url('../fonts/Roboto-slab/RobotoSlab-Regular.ttf');
}

@font-face {
    font-family: RobotoSlabBold;
    src: url('../fonts/Roboto-slab/RobotoSlab-Bold.ttf');
}

@font-face {
    font-family: RobotoSlabLight;
    src: url('../fonts/Roboto-slab/RobotoSlab-Light.ttf');
}

body, button {
    // font-family: Mont;
    // font-family: MontLight;
    // font-family: Akrobat;
    // font-family: Baron;
    // font-family: Bebas;
    // font-family: Colus;
    // font-family: Mont;
    // font-family: MontLight;
    // font-family: Noah;
    // font-family: NoahBold;
    // font-family: NoahBoldItalic;
    // font-family: PantonLight;
    // font-family: BebasBold;
    // font-family: Montserrat;
    // font-family: MontserratBlack;
    // font-family: MontserratMedium;
    // font-family: MontserratLight;
    // font-family: RobotoSlab;
    // font-family: RobotoSlabBold;
    // font-family: RobotoSlabLight;
}
