.karo-footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: url(../images/images/bg/concrete-wall.png) linear-gradient(0deg, transparent -20%, rgba(#fff, 1) 100%);
    padding-top: 4rem;
    border-top: 1px dashed #f5f5f5;
    color: #333;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);

    position: relative;
}

.footer-head {
    width: 100%;
    text-align: center;
    font-family: MontserratAltMedium;
    color: rgb(207, 0, 0);
    margin-bottom: 3rem;
}

.footer-col {
    width: 40%;
    display: flex;
    padding-top: 3rem;
    justify-content: center;
}

.footer-middle {
    width: 20%;
    text-align: center;

    img {
        width: 7rem;
    }
}

.footer-heading {
    margin: auto;
    margin-bottom: 1rem;
    font-family: RobotoSlabBold;
}

.footer-section {
    // width: 50%;
    // text-align: center;
}

.footer-list {
    margin: auto;
    text-align: left;
    font-family: RobotoSlab;
    display: inline-block;
}

.footer-list-item {
    list-style: none;
    padding-bottom: .25rem;
}

.footer-left {
    // justify-content: flex-end;
}

.footer-right {
    // justify-content: flex-start;
}

.footer-copy {
    width: 70%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 3rem;
    font-family: AkrobatLight;
    border-top: 1px solid #f1f1f1;
}
