.karo-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    letter-spacing: .07rem;

    font-family: Akrobat;
    // font-family: AkrobatBold;
    // font-family: Lora;
    // font-family: AkrobatLight;
    // font-family: AkrobatThin;
    // font-family: AkrobatSemiBold;
    // font-family: AkrobatBold;
    // font-family: Baron;
    // font-family: Bebas;
    // font-family: BebasBold;
    // font-family: Colus;
    // font-family: Mont;
    // font-family: MontLight;
    // font-family: Noah;
    // font-family: NoahBold;
    // font-family: NoahBoldItalic;
    // font-family: PantonLight;
    // font-family: MontLight;
    // font-family: Montserrat;
    // font-family: MontserratBlack;
    // font-family: MontserratMedium;
    // font-family: MontserratLight;
    // font-family: Roboto;
    // font-family: RobotoSlab;
    // font-family: RobotoSlabBold;
    // font-family: RobotoSlabLight;

    text-transform: lowercase;
    @include zlevel(4);
}

.karo-main-nav {
    padding-left: 2rem;
}

.karo-main-nav-list {
    display: flex;
    flex-wrap: wrap;
}

.main-nav-link {
    display: block;
    padding: 2rem;
}

.nav-li {
    list-style: none;
}

.main-nav-list-item {
    padding: 2rem;
}

.nav-list-sub {
    display: none;
}
