.icon {
    display: inline-block;
    margin: 0 .25rem;
    margin-bottom: -.25rem;
}

.i-location {
    width: rem(11);
    height: rem(20);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 180'%3E%3Cpath d=' M 2.442 59.208 Q 1.713 55.631 1.752 53.51 L 1.813 53.51 C 1.772 52.69 1.751 51.866 1.751 51.036 C 1.751 24.411 23.367 2.795 49.992 2.795 C 76.617 2.795 98.233 24.411 98.233 51.036 C 98.233 51.866 98.212 52.69 98.171 53.51 L 98.233 53.51 Q 99.161 70.363 48.756 177.205 Q 12.585 95.407 4.248 66.383 C 3.469 64.065 2.862 61.668 2.442 59.208 Z M 25.879 53.51 C 25.879 40.197 36.688 29.389 50 29.389 C 63.312 29.389 74.121 40.197 74.121 53.51 C 74.121 66.822 63.312 77.63 50 77.63 C 36.688 77.63 25.879 66.822 25.879 53.51 Z ' fill-rule='evenodd' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

.i-phone {
    width: rem(16.6);
    height: 1.25rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 50 60'%3E%3Cpath d=' M 8.552 38.83 C 5.735 32.819 5.791 31.918 4.013 26.734 C 1.901 20.409 4.325 11.917 13.749 5.331 C 13.945 5.182 14.157 5.049 14.385 4.934 L 19.162 2.507 C 21.225 1.459 23.749 2.283 24.797 4.345 L 27.847 10.35 C 28.894 12.412 28.071 14.937 26.008 15.985 L 22.214 17.912 L 21.231 18.411 C 20.765 18.648 20.275 18.789 19.785 18.842 Q 12.406 20.219 15.59 27.792 C 17.098 30.686 17.796 32.18 18.598 33.803 L 18.739 34.085 C 19.557 35.7 20.334 37.154 21.747 40.096 Q 24.964 47.653 31.425 42.104 C 31.762 41.743 32.168 41.436 32.636 41.205 L 33.626 40.717 L 37.443 38.836 C 39.518 37.813 42.032 38.667 43.055 40.742 L 46.033 46.783 C 47.055 48.858 47.038 53.045 44.963 54.068 L 40.157 56.437 C 39.928 56.55 39.694 56.639 39.457 56.707 C 28.537 60.302 19.45 55.478 15.653 49.996 C 12.57 45.466 11.944 45.147 8.693 39.112 L 8.693 39.112 L 8.552 38.83 Z M 9.205 38.503 L 9.346 38.785 L 9.205 38.503 Z ' fill-rule='evenodd' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
}
