.karo-menu {
    box-shadow: 0 0 20px rgba(#000, 1);
    text-align: center;
    margin: auto;

    padding-top: 4rem;
    padding-bottom: 5rem;

    position: relative;
    @include zlevel(2);

    font-family: MontserratAlt;

    background: url(../images/images/bg/concrete-wall.png) #fbfbfb;

    &:before,
    &:after {
        // content: '';
        position: absolute;
        top: 0;

        @include size(.5rem);
        margin: auto;
        margin-top: 3rem;

        transition: all .3s ease-in-out;
        transform: rotate(50deg) skewX(10deg);
        border: .25rem solid rgba(#000, .2);
    }

    &:before {
        left: 3rem;
    }

    &:after {
        right: 3rem;
    }

    img {
        width: 5rem;
        margin-bottom: 1rem;
    }
}