.gallery-wrap {
    margin: auto;
    padding-top: 10rem;
    padding-bottom: 10rem;
    width: 100%;
    background: url(../images/images/bg/concrete-wall.png) #f5f5f5;
}

.gallery-heading {
    font-family: MontserratAlt;
    text-align: center;
    margin-bottom: 4rem;
}

.gallery {
    width: 80%;
    margin: auto;
    // padding: 4rem 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery-image {
    width: 30%;
}
