.home-hero {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // background: url('../images/home-hero-bg.jpg');
    // background-size: 100% auto;
    position: relative;

    font-family: MontserratAltMedium;
    color: #fff;

    &:before {
        background-position: initial!important;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(transparent -20%, rgba(#000, 1) 100%)!important;
        z-index: 0!important;
    }
}

.home-hero-content {
    @include zlevel(3);
}

.home-hero-heading {
    text-align: center;
    font-size: 3.25rem;
    font-family: MontserratAltMedium;
    text-shadow: 0 0 10px #000;

    margin-bottom: .5rem;
}

.home-hero-contacts {
    display: flex;
    justify-content: center;
    // padding: 1rem;
    // background: rgba(#000, .5);

    // font-family: Akrobat;
    font-family: Montserrat;
    // font-family: RobotoSlab;
    text-align: center;
    margin-top: 1rem;

    position: relative;
}

.home-lunch-menu-end {
    // width: 1rem;
    // height: 1rem;
    // margin: auto;
    // margin-top: 3rem;

    // transition: all .3s ease-in-out;
    // transform: rotate(50deg) skewX(10deg);
    // border: .25rem solid rgba(#000, .2);
}

.home-hero-address,
.home-hero-phone {
    text-shadow: 0 0 10px #000;
}

.home-hero-address {
    margin-right: 1rem;
}

.home-hero-cta {
    text-align: center;
    margin-top: 3rem;
}

.btn-hero {
    background: rgb(146, 0, 0);
    // border: 1px solid #fff;
    padding: .75rem 1.5rem;
    font-family: AkrobatBold;

    box-shadow: 0 0 5px rgba(#000, .7);

    // text
    font-size: 1.25rem;
    text-transform: uppercase;

    transition: all .15s ease-in-out;

    &:hover {
        background: rgb(207, 0, 0);
        box-shadow: 0 0 2px rgba(#000, .7);
    }

    &:first-child {
        margin-right: 2rem;
    }
}

.home-hero-to-slide {
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    @include zlevel(3);

    &:after,
    &:before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M1 8 L10 13 L18 8' fill='none' stroke='%23fff' strokeWidth='1' /%3E%3C/svg%3E");
        position: absolute;
        bottom: -1.25rem;
        left: 50%;
        transform: translateX(-50%);
        @include size(1rem);
        @include zlevel(3);
        animation-delay: 0s;
        animation: hero-slide-down 1.5s infinite;
    }

    &:after {
        animation-delay: .3s;
    }
}

@keyframes hero-slide-down {
    from {
        opacity: 0;
        bottom: -1.25rem;
    }
    to {
        opacity: 1;
        bottom: -2.5rem;
    }
}

.home-hero-greeting {
    text-align: center;
    font-size: 1.75rem;
    text-shadow: 0 0 10px #000;
}

.home-hero-description {
    text-align: center;
    padding: 1.25rem;
    margin: 1.5rem auto;
    background: rgba(#000, .5);
    font-family: Montserrat;
}

.home-hero-description-item {
    &:first-child {
        margin-bottom: .25rem;
    }
}

// menu section
.home-lunch-wrap {
    width: 100%;
    background: url('../images/home-menu-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;

    padding-top: 6rem;
    padding-bottom: 6rem;

    position: relative;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 10rem;
        background: linear-gradient(#000 0%, transparent 100%);
    }
}

.home-lunch-menu {
    width: 55%;
}

.home-lunch-menu-contents {
    padding: 0 3rem;
}

.home-lunch-menu-sub-heading {
    padding: 1rem;
    margin-bottom: 2rem;
}

.home-lunch-menu-day {
    display: block;
    font-size: .8rem;
    font-family: MontserratAltLightItalic;
    margin-top: .25rem;
}

.home-lunch-menu-item {
    width: 100%;
    display: flex;
    margin-bottom: .5rem;
    border-bottom: 1px dashed #eee;
    padding: .5rem 0;
}

.home-lunch-menu-food {
    width: 70%;
    text-align: left;
}

.home-lunch-menu-food-name {
    font-family: MontserratAltMedium;
}

.home-lunch-menu-allergens {
    font-family: MontserratAltLightItalic;
}

.home-lunch-menu-quantity {
    width: 30%;
    text-align: right;
}

// map
.home-map-section {
    width: 100%;
    height: 80vh;
    padding: 3rem;
    margin-top: 3rem;
    margin-bottom: 10rem;
    // background: #f5f5f5;
}

.home-map-heading {
    text-align: center;
    font-family: RobotoSlab;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.home-map {
    @include size();
    border: none;
}
