.menu-hero {
    height: 100vh;
}

.karo-full-menu {
    width: 70%;
    position: relative;
    padding: 6rem 4rem;
    box-shadow: 0 0 20px rgba(#000, .1);
    margin-top: -45vh;
    margin-bottom: 45vh;
}

.menu-main-heading {
    margin-bottom: 2rem;
}

.menu-section {
    margin-bottom: 3rem;
    padding: 2rem;
}

.menu-section-name {
    margin-bottom: 2rem;
}

// .karo-menu-heading {
//     position: absolute;
// }
